{% load static %}

<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width:width-device, initial-scale:1">


<link rel="shortcut icon" href="{% static 'conatusweb/Content/myfiles/images/12.png' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/analytics.js' %}"></script>
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/script.js' %}"></script>
    <link href="{% static 'conatusweb/Content/myfiles/magazine/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/magazine/style.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/css/animation.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/magazine/animation.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/modernizr.custom.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/fonts/font-awesome/css/font-awesome.css' %}">
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/wow.min.js' %}"></script>
    <link href="{% static 'conatusweb/Content/myfiles/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'conatusweb/Content/myfiles/css/owl.theme.css' %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/bootstrap.js' %}"></script>




    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/jqBootstrapValidation.js' %}"></script>

    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/jquery.js' %}"></script>

    <title>CONATUS | EDITORIAL</title>




    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/jquery.html' %}"></script>


    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!--menu-->
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/i/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/i/css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/i/css/component1.css' %}" />
    <script src="{% static 'conatusweb/Content/myfiles/i/js/modernizr-2.6.2.min.js' %}"></script>

    <link href="{% static 'conatusweb/Content/myfiles/css/timeline.css' %}" rel="stylesheet" />

    <!--end-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <style>
                body {
                    overflow-x: hidden;
                    font-family: 'Raleway', sans-serif !important;
                }

                #b {
                    border: 2px solid white;
                    color: #5b777f;
                    padding: 8px;
                    border-radius: 0px;
                    box-shadow: 0px 0px 6px 3px #E6E6E6;
                }
                
    </style>


</head>
<body >
    <div id="container">
        <header>
            <div id="header">
                <section>
                    <span id="home"></span>


                </section>
            </div>
            <div class="clear"></div>
        </header>




        <header class="header maga wow fadeInDown" data-wow-delay="100ms">
         <h1 class="wow fadeInDown" data-wow-delay="400ms" ><strong>EDITORIAL<strong></h1>
        </header>


<div class="container">


        



            <div class="row wow fadeInDown" id="b">
                <div class="col-md-12 col-sm-12 post">
                    <article>
                        <section class="col-md-6">
                            <div>
                                <iframe width="470" height="264" src="https://www.youtube.com/embed/VXEkoXgb4bI" frameborder="0" allowfullscreen></iframe>
                            </div>

                        </section>
                        <section class="col-md-6">
                            <h2> <a style="color:#454545;" >Say hello to #GoogleAllo</a> </h2>
                            <!-- <span>24 September,2016 </span> -->
                            <br>
                            <p>Google's highly anticipated "smart" messaging app, Google Allo, is finally available for the masses.Google Allo is your basic modern-day chat app, with a Google twist. Like its competitors -- WhatsApp, Line, Facebook Messenger, iMessage, and so forth -- Allo offers cross-platform multimedia-enhanced texting and self-destructing messages, but it also has a few handy "smart" features, such as a built-in Google search assistant.
The app supports regular text-based chat, plus voice chat (record-and-send), stickers, photos and location-sharing.If your friends don't have Allo, you can still text them through the app. Your messages will be sent from a generic five-digit number, and other features such as Google Assistant will still work.
</p>
                           <!-- <a href="#"><span>Read more</span></a>-->
                        </section>
                    </article>
                </div>
            </div>	<br />
            <br />
            <div class="row wow fadeInDown" id="b">
                <div class="col-md-12 col-sm-12 post">
                    <article class="right">
                        <section class="col-md-6">
                            <div>
                                <iframe width="470" height="264" src="https://www.youtube.com/embed/WVPRkcczXCY" frameborder="0" allowfullscreen></iframe>
                            </div>
                        
                        </section>
                        <section class="col-md-6">
                            <h2> <a style="color:#454545;">New MacBook Pro</a> </h2>
                            <!-- <span>29 October,2016</span> -->
                            <p>Apple just unveiled the new MacBook Pro.The new MacBook Pro comes with an unique OLED Touch Bar which replaces the traditional function keys. The Touch Bar aims to bring the convenience of having a touch-based interface minus the huge touchscreen."The Touch Bar places controls right at the user’s fingertips and adapts when using the system or apps like Mail, Finder, Calendar, Numbers, GarageBand, Final Cut Pro X and many more, including third-party apps. For example, the Touch Bar can show Tabs and Favorites in Safari, enable easy access to emoji in Messages, provide a simple way to edit images or scrub through videos in Photos and so much more," explained Apple in a release.
The Touch Bar theoretically could run while the rest of the machine is turned off, so you get all the low-power and security benefits of an iOS device, without having to switch to ARM completely on the desktop.</p>
                           <!-- <a href="#"><span>Read more</span></a>-->
                        </section>
                    </article>
                </div>
            </div>	<br />
            <br />
            <div class="row wow fadeInDown" id="b">
                <div class="col-md-12 col-sm-12 post">
                    <article>
                        <section class="col-md-6">
                            <div>
                                <iframe width="470" height="264" src="https://www.youtube.com/embed/ffHLIZh0PHg" frameborder="0" allowfullscreen></iframe>
                            </div>

                        </section>
                        <section class="col-md-6">
                            <h2> <a style="color:#454545;" >Google Fiber</a> </h2>
                            <!-- <span>13th June, 2016</span> -->
                            <p>
                                "Google Fiber" is an Internet and television service provided by Google itself, and plans range from 5Mbps all the way to a blistering fast 1Gbps (or 1,000Mbps). The service also provides television channels for an extra monthly charge, but to put 1Gbps speeds into perspective, you could theoretically download a full 1080p movie in about a minute. Of course, you most likely won’t get the full 1Gbps speed, since the connection loses a bit of quality from traveling through different loops before reaching your house. So, let’s just say a 1080p movie can download in about five minutes – still, that’s incredibly impressive.
                            </p>
                          <!--  <a href="#"><span>Read more</span></a>-->
                        </section>
                    </article>
                </div>
            </div>	<br />
            <br />
            <div class="row wow fadeInDown" id="b">
                <div class="col-md-12 col-sm-12 post">
                    <article class="right">
                        <section class="col-md-6">
                            <div>
                                <iframe  width="470" height="264"src="https://www.youtube.com/embed/6ilgOs5dOpA" frameborder="0" allowfullscreen></iframe>                       </div>

                        </section>
                        <section class="col-md-6">
                            <h2> <a style="color:#454545;">Selfie Machine</a> </h2>
                            <!-- <span>4th April, 2016</span> -->
                            <p>
                                The selfie machine, named the Loio (pronounced yoyo) Plotter, uses an algorithm to plot your photograph onto paper. Like all Android Experiment projects, the developer, Ytai Ben-Tsvi, has made his code available on Google’s site. You may not be able to buy a selfie-drawing machine, but you can certainly make one.
                                The algorithm chooses the darkest point of the photo," says Blankensmith, who works as a designer part of Google’s Creative Labs. “And then within a radius, it looks at 200 other random points. Of those, whichever is darkest is where it draws the next line to. And it repeats that over and over again, until it draws one continuous vector line drawing."
                            </p>
                          <!--  <a href="#"><span>Read more</span></a>-->
                        </section>
                    </article>
                </div>
            </div>		<br />
            <br />
            <div class="row wow fadeInDown" id="b">
                <div class="col-md-12 col-sm-12 post">
                    <article>
                        <section class="col-md-6">
                            <div>
                                <iframe width="470" height="264" src="https://www.youtube.com/embed/DG5-UyRBQD4" frameborder="0" allowfullscreen></iframe>                          </div>

                        </section>
                        <section class="col-md-6">
                            <h2> <a style="color:#454545;" >Neural Networks</a> </h2>
                            <!-- <span>1st August, 2016</span> -->
                            <p>
                                Many people have built brain-like neural networks that can learn on their own, but they're typically using plain old silicon to do it. Wouldn't it be better if the chips themselves were brain-like? A mix of Italian and Russian researchers might help. They've created a neural network based on plastic memristors, or resistors that remember their previous electrical resistance. Since they effectively work like brain synapses, they're ideal for creating "true" neural networks where signal transfers create long-lasting effects. And importantly, the choices of technology and materials allows them to be very small (as tiny as 10 nanometers, in theory) without resorting to exotic substances -- you could design a neural network as compact as a regular chip without reinventing the wheel.
                            </p>
                         <!--   <a href="#"><span>Read more</span></a>-->
                        </section>
                    </article>
                </div>
            </div>	<br />
            <br />
            <div class="row wow fadeInDown" id="b">
                <div class="col-md-12 col-sm-12 post">
                    <article class="right">
                        <section class="col-md-6">
                            <div>
                                <iframe width="470" height="264" src="https://www.youtube.com/embed/g1G0yEKuED8" frameborder="0" allowfullscreen></iframe>                 </div>

                        </section>
                        <section class="col-md-6">
                            <h2> <a style="color:#454545;" >Mycroft</a> </h2>
                            <!-- <span>11th September, 2016</span> -->
                            <p>
                                Mycroft: An Open Source Artificial Intelligence For Everyone
                                It’s like a Siri, except its potential is more unbound in two ways: first, it works at the level of your home, not just your phone, so any and all smart or connected products you have will be controllable. Secondly, it is open-source.
                            </p>
                         <!--   <a href="#"><span>Read more</span></a>-->
                        </section>
                    </article>
                </div>
            </div>	<br />
            <br />
            <div class="row wow fadeInDown" id="b">
                <div class="col-md-12 col-sm-12 post">
                    <article>
                        <section class="col-md-6">
                            <div>
                                <iframe width="470" height="264" src="https://www.youtube.com/embed/Yo93KcPJhwQ" frameborder="0" allowfullscreen></iframe>
                            </div>
                           
                        </section>
                        <section class="col-md-6">
                            <h2> <a style="color:#454545;">Cyanogen OS</a> </h2>
                            <!-- <span>18th April,2016 </span> -->
                            <p>
                                The two have confirmed a "strategic partnership", allowing for Microsoft's apps on the Cyanogen OS.
                                After rumours filling the airwaves for months, that Microsoft would either be buying or investing in Cyanogen, the companies have now confirmed that they have entered into a strategic partnership, in a joint press release on Thursday.
                            </p>
                            <!--<a href="#"><span>Read more</span></a>-->
                        </section>
                    </article>
                </div>
            </div>	<br />
            <br />
            
        </div>
        <br />
        <br />




</body>
<div class="component">
    <!-- Start Nav Structure -->
    <button class="cn-button" id="cn-button">+</button>
    <div class="cn-wrapper" id="cn-wrapper">
       <ul>
                <!-- <li><a href="../Home/Mag.html"><span class="glyphicon glyphicon-book"></span></a></li> -->
                <li><a href="{% url 'timelineHome' %}"><span class="glyphicon glyphicon-cloud"></span></a></li>
                <!-- <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a></li> -->
                <li><a href="{% url 'editorialHome' %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{% url 'magHome' %}"><span class="glyphicon glyphicon-book"></span></a></li>
                <li><a href="https://www.facebook.com/conatus.akg/"><span  class="fa fa-facebook"></span></a></li>
            </ul>
    </div>
    <div id="cn-overlay" class="cn-overlay"></div>
    <!-- End Nav Structure -->
</div>
<script src="{% static 'conatusweb/Content/myfiles/i/js/polyfills.js' %}"></script>
<script src="{% static 'conatusweb/Content/myfiles/i/js/demo1.js' %}"></script>
<!-- For the demo ad only -->
<script src="../../codrops/adpacks/demoad.js"></script>

<h2 style="text-align:right; font-size:16px!important;">...Details of previous posts to be uploaded soon.</h2>
<footer>

    <section class="bottom" style="background-color:#0D1319; height:auto;">
        <div class="container" style="width:100%!important;">
            <div class="row">
                <div class="enclose">
                        <div class="col-md-6">
                                <a href="mailto:teamconatus@gmail.com" target="_blank">
                                        <i class="fa fa-envelope"></i>
                                    </a> 
                            <a href="https://www.facebook.com/conatus.akg/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a target="_blank" href="https://twitter.com/conatus_akg">
                                <i class="fa fa-twitter"></i>
                            </a>
                           
                        </div>
                        <div class="col-md-6">
                            <span>
                                Contact Us:
                            </span>
                            <span>
                            
                                <a href="mailto:teamconatus@gmail.com"><i class="fa fa-envelope"></i>Mail us at:teamconatus@gmail.com</a><br>
                                <a href="https://goo.gl/maps/2yTynVbmdr82" target="_blank"><i class="fa fa-map-marker"></i> Ajay Kumar Garg Engineering College 27th km Stone,Ghaziabad-201009</a>
                                <br>
                            </span>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="back_to_top">
        <i class="fa fa-angle-up"></i>
        <span></span>
    </section>
    <section class="back_to_top">
        <i class="fa fa-angle-up"></i>
    </section>
</footer>
<script>
	    	$(document).ready(function(){
		    	var $small = $(".small");
		    	Layout();
	    		function Layout(){
					var $n = $small.length;
					var $height1 = parseInt($($small[0]).find('h2').css('height'));
					var $height2 = parseInt($($small[1]).find('h2').css('height'));
					if($height1>$height2){
						$($small[1]).find('h2').css('height',$height1+'px');
					}
					else{
						$($small[0]).find('h2').css('height',$height2+'px');
					}
				}
			});
</script>
<script src="{% static 'conatusweb/Content/myfiles/magazine/script.js' %}"></script>

</html>