{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width:width-device, initial-scale:1">


<link rel="shortcut icon" href="{% static 'conatusweb/Content/myfiles/images/12.png' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/analytics.js' %}"></script>
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/script.js' %}"></script>
    <link href="{% static 'conatusweb/Content/myfiles/magazine/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/magazine/style.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/css/animation.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/magazine/animation.css' %}" rel="stylesheet">
    <link href="{% static 'conatusweb/Content/myfiles/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/modernizr.custom.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/fonts/font-awesome/css/font-awesome.css' %}">
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/wow.min.js' %}"></script>
    <link href="{% static 'conatusweb/Content/myfiles/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'conatusweb/Content/myfiles/css/owl.theme.css' %}" rel="stylesheet" media="screen">




    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/jqBootstrapValidation.js' %}"></script>

    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/jquery.js' %}"></script>


    <!--menu-->
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/i/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/i/css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'conatusweb/Content/myfiles/i/css/component1.css' %}" />
    <script src="{% static 'conatusweb/Content/myfiles/i/js/modernizr-2.6.2.min.js' %}"></script>
    <link href="{% static 'conatusweb/Content/myfiles/css/timeline.css' %}" rel="stylesheet" />
    <!--end-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>CONATUS | CONOSCENZA</title>




    <script type="text/javascript" src="{% static 'conatusweb/Content/myfiles/magazine/jquery.htm' %}"></script>
    <style>
                body {
                    overflow-x: hidden;
                }

                
    </style>


</head>
<body>
    <div id="container">
        <header >
            <div id="header">
                <section>
                    <span id="home"></span>


                </section>
            </div>
            <div class="clear"></div>
        </header>
    </div>

    <header class="header mag wow fadeInDown" data-wow-delay="400ms">
        <h1 class="wow fadeInDown" data-wow-delay="400ms" ><strong>CONOSCENZA<strong></h1>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mag_main">
                    <section class="col-sm-5">
                        <div>

                            <a  target="_blank" href="{% static 'conatusweb/Content/myfiles/magcontent/1.PDF'%}">
                                                       <img src="{% static 'conatusweb/Content/myfiles/magcontent/1.jpg" /></a>
                        </div>
                    </section>
                    <section class="col-sm-7">

                        <h2 class="wow fadeInDown" data-wow-delay="50ms">
                            CONOSCENZA 17
                        </h2>

                        <span>
                            &nbsp;Convergence of Technology
                        </span>
                        <p>
                          Since last few years, Conatus has been publishing a technical magazine, named, CONOSCENZA. The magazine covers various new ideas and innovations in the field of technology, be it software, hardware or gadgets. For young learners and creative minds, it includes simple tips and tricks and tutorials on latest technologies.Since last few years, Conatus has been publishing a technical magazine, named, CONOSCENZA. The magazine covers various new ideas and innovations in the field of technology, be it software, hardware or gadgets. For young learners and creative minds, it includes simple tips and tricks and tutorials on latest technologies.
                        </p>
                       <!-- <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aspernatur ad optio officiis, iusto consequuntur, salias mollitia
                            repellat deleniti accusantium quo voluptate delectus! Necessitatibus ad
                            optio cumque harum, asperiores ea eaque.
                        </p>-->
                       <!-- <a target="_blank" href="#" class="btn-special" style="margin-top: 15px;" role="button"><span>Read it</span></a>-->
                    </section>
                </div>
            </div>
            <section class="mag_thumbs">
                <div class="row">
                    <div class="col-sm-4 mag_small" style="margin-top: -150px;">
                        <div>

                            <a  target="_blank" href="{% static 'conatusweb/Content/myfiles/magcontent/2.PDF' %}">
                                <img src="{% static 'conatusweb/Content/myfiles/magcontent/2.jpg' %}" /></a>
                        </div>
                        <div>
                            <h2>CONOSCENZA 16</h2>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-sm-4 mag_small" style="margin-top: -150px;">
                        <div>

                            <a target="_blank" href="{% static 'conatusweb/Content/myfiles/magcontent/3.pdf' %}">
                                <img src="{% static 'conatusweb/Content/myfiles/magcontent/3.png' %}" />
                            </a>
                           
                        </div>
                        <div>
                            <h2>CONOSCENZA 15</h2>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-sm-4 mag_small" style="margin-top: -150px;">
                        <div>
                            <a target="_blank" href="{% static 'conatusweb//myfiles/magcontent/4.pdf' %}">
                                <img src="{% static 'conatusweb/Content/myfiles/magcontent/4.png' %}" />
                            </a>
                            
                        </div>
                        <div>
                            <h2>CONOSCENZA 14</h2>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mag_small" style="margin-top: -150px;">
                        <div>

                            <a  target="_blank"  href="{% static 'conatusweb/Content/myfiles/magcontent/5.pdf' %}">
                                <img src="{% static 'conatusweb/Content/myfiles/magcontent/5.png' %}" /></a>
                        </div>
                        <div>
                            <h2>CONOSCENZA 11</h2>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-sm-4 mag_small" style="margin-top: -150px;">
                        <div>
                            <a target="_blank" href="{% static 'conatusweb/Content/myfiles/magcontent/6.pdf' %}">
                                <img src="{% static 'conatusweb/Content/myfiles/magcontent/6.png' %}" /></a>
                        </div>
                        <div>
                            <h2>CONOSCENZA 12</h2>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-sm-4 mag_small" style="margin-top: -150px;">
                        <div>
                            <a target="_blank" href="{% static 'conatusweb/Content/myfiles/magcontent/7.pdf' %}">
                                <img src="{% static 'conatusweb/Content/myfiles/magcontent/7.png' %}" /></a>
                           
                        </div>
                        <div>
                            <h2>CONOSCENZA 13</h2>
                            <span></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div class="component">
        <!-- Start Nav Structure -->
        <button class="cn-button" id="cn-button">+</button>
        <div class="cn-wrapper" id="cn-wrapper">
             <ul>
                <!-- <li><a href="../Home/Mag.html"><span class="glyphicon glyphicon-book"></span></a></li> -->
                <li><a href="{% url 'timelineHome' %}"><span class="glyphicon glyphicon-cloud"></span></a></li>
                <!-- <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a></li> -->
                <li><a href="{% url 'editorialHome' %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="https://www.facebook.com/conatus.akg/"><span  class="fa fa-facebook"></span></a></li>
            </ul>
        </div>
        <div id="cn-overlay" class="cn-overlay"></div>
        <!-- End Nav Structure -->
    </div>
    <script src="{% static 'conatusweb/Content/myfiles/i/js/polyfills.js' %}"></script>
    <script src="{% static 'conatusweb/Content/myfiles/i/js/demo1.js' %}"></script>
    <!-- For the demo ad only -->
    <script src="../../codrops/adpacks/demoad.js"></script>
    <footer>
        <section class="bottom" style="background-color:#0D1319;">
            <div class="container" style="width:100%!important;">
                <div class="row">
                    <div class="enclose">
                        <div class="col-md-6">
                            
                            <a href="https://www.facebook.com/conatus.akg/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a target="_blank" href="https://twitter.com/conatus_akg">
                                <i class="fa fa-twitter"></i>
                            </a>
                           
                        </div>
                        <div class="col-md-6">
                            <span>
                                Contact Us:
                            </span>
                            <span>
                            
                                <a href="mailto:teamconatus@gmail.com"><i class="fa fa-envelope"></i>Mail us at:teamconatus@gmail.com</a><br>
                                <a href="https://goo.gl/maps/2yTynVbmdr82" target="_blank"><i class="fa fa-map-marker"></i> Ajay Kumar Garg Engineering College 27th km Stone,Ghaziabad-201009</a>
                                <br>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="back_to_top">
            <i class="fa fa-angle-up"></i>
        </section>
    </footer>
    <script src="magazine/script.js"></script>

</body>
</html>